root = true

[*]
  indent_style = space
  indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.cs]
# Namespace declarations
csharp_style_namespace_declarations = file_scoped:warning
dotnet_sort_system_directives_first = true

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = warning

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = silent

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = silent

[*.md]
indent_style = space
indent_size = 4
