<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- put your global packages in the mapped ~/.nuget/packages -->
  <config>
    <add key="globalPackagesFolder" value="%USERPROFILE%/.nuget/packages" />
  </config>
  <!-- remove all the built-in Windows-only fallback folders -->
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
</configuration>
